{% extends 'base.html' %}

{% load tz %}
{% load static %}

{% block title %}{% endblock title %}

{% block style %}

{% if request.user.is_authenticated %}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'work sans', sans-serif;
    background-color: #eff3f6;
    width: 100vw;
    overflow-x: hidden;
}

/* -------------Section B----------- */

.section-b{
    margin-top:  1.5rem;
    color: blue;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-head{
    display: flex;
    background-color: #5088ac;
    height: 5rem;
    width: 100vw;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
}

.profile-head > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-head > div > div > h2{
    margin-right: 2rem;
}

#bio{
    display: flex;
    align-items: flex-start;
}

#bio-content{
    width: 50%;
}

#location-icon{
    margin-right: 2rem;
    width: 1rem;
    opacity: .9;
}

#stat{
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
}

#stat > div{
    text-align: center;
}

#stat > div > h6{
    color: #363635;
    margin-top: .3rem;
}

/* ----------Profile Nav------------ */

.profile-nav{
    display: flex;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    background-color: transparent;
    align-items: center;
    justify-content: flex-end;

}

.profile-nav ul{
    height: 3rem;
    width: 71%;
    display: flex;
    background-color: white;
    align-items: center;
    margin-right: .5rem;
    justify-content: space-evenly;
    border-radius: 10px;
}

.profile-nav > ul > li{
    list-style-type: none;
}

.profile-nav > ul > li > a{
    color: #105a89;
    display: flex;
    text-decoration: none;
}

.profile-nav-toggle{
    display: none;
}

/* -----Profile Div----- */

.profile-div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.profile-info-1{
    width: 25%;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 40rem;
}

.profile-info{
    width: 25%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 40rem;
    position: absolute;
    top: 9.3rem;
    left: 2rem;
}

.image-div{
    background-color: #105a89;
    height: 10rem;
    position: relative;
    background-image: url('../../asset/tech.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cover-photo{
    width: 100%;
    height: 100%;
}

#hr{
    background-color: #ccc;
    width: 100%;
    height: 1px;
    margin-top: 10rem;
}

#hr-m{
    background-color: #ccc;
    width: 100%;
    height: 1px;
    margin-top: 3rem;
}

#profile-image{
    width: 45%;
    border-radius: 50%;
    margin-top: 2px;
    position: absolute;
    top: 60%;
    left: 23%;
    border: 3px white solid;
}

.profile-body{
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: .5rem;
    display: flex;
}

.navigation{
    margin-top: 3rem;
    padding-bottom: 5rem;
}

.navigation div > ul{
    width: 100%;
    height: 10rem;
}

.navigation div > ul >li{
    list-style-type: none;
    display: flex;
}

.navigation > div > h3{
    color: #105a89;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.profiler{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profiler > h3{
    width: 40%;
    color: #105a89;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.profiler > h5{
    width: 50%;
    color: #363635;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.icon{
    width: .7rem;
    color: #105a89;
    margin-left: 3rem;
    margin-right: 1rem;
    opacity: .4;
}


/* ------------Edit Password------- */


.profile-body{
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.navigation{
    margin-top: 3rem;
    padding-bottom: 5rem;
}

.navigation > div > ul > li{
    list-style-type: none;
}

.navigation > div > ul > li > a{
    text-decoration: none;
    color: #105a89;
    margin-left: 2rem;
    transition: .4s;
}

.navigation > div > ul > li > a:hover{
    color: red;
    font-weight: bold;
}

.side-nav{
    margin-top: 2rem;
}

#active{
    color: red;
    font-weight: bold;
}

.icon{
    width: 1rem;
    color: #105a89;
    margin-left: 3rem;
    opacity: .4;
}

/* -----------Form------------ */

.password-edit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    background-color: #fff;
    margin-bottom: 8rem;
}

#form-header-text{
    color: #105a89;
    margin-bottom: 2rem;
}

label{
    margin: .4rem;
    color: #363635;
}

input{
    width: 20rem;
    padding: .5rem 1rem .5rem .5rem;
    border-radius: 5%;
    outline: 0;
    border: 1px #ccc solid;
}

.input-form{
    display: flex;
    flex-direction: column;
    margin: .5rem 0rem;
}

button{
    width: 8rem;
    padding: .5rem 1rem;
    margin: 2rem 0rem 1rem 0rem;
    background-color: white;
    color: #105a89;
    border: #105a89 solid 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: .4s;
    outline: none;
}

button:hover{
    background-color: #105a89;
    color: white;
}

button:focus{
    outline: 0;
}

.button-form{
    display: flex;
    justify-content: center;
}


/* ---------Ad Div-------- */


.ad-div{
    width: 18%;
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px;
    height: 30rem;
}

.ad-div h1{
    color: #105a89;
    text-align: center;
    margin: 10rem 1rem 0 1rem;
}

.ad-div h1{
    font-size: 1rem;
}

.errorlist {
    color: #105a89;
    list-style: none;
    display: none !important;
}

.messages {
    color: #105a89;
    padding-left: 0.5rem;
    list-style: none;
    }

@media (max-width: 900px){
    body{
        background-color: #e1e2d0;
    }

 /* -------------Section B----------- */


.profile{
    font-size: .8rem;
}

.profile-body{
    margin-left: 1rem;
}

.profile-head > div > div > h2{
    font-size: 1rem;
}

/* -------Profiler------- */

.profiler > h5{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: .7rem;
    text-align: center ;
}

.profile-nav ul{
    height: 3rem;
    width: 70%;
    margin-right: .5rem;
    justify-content: space-evenly;
}


#hr{
    margin-top: 5rem;
}



.icon{
    margin-left: 1.5rem;
}

.comment{
    width: 10rem;
}



/* ---------Ad Div-------- */

.ad-div h1{
    font-size: 1rem;
    margin: 10rem 1rem 0 1rem;
}


@media (max-width: 480px){

    body{
        background-color: white;
    }

  /* -------------Section B----------- */

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.profile-head{
    display: flex;
    background-color: #5088ac;
    height: 7rem;
    width: 100vw;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
    font-size: .7rem;
}

.profile-head > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-head > div > div > h2{
    margin-right: 2rem;
}

#bio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#location img{
    width: .7rem;
    margin-bottom: .5rem;
}

#name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#name h2{
    margin-bottom: .7rem;
}

#bio-content{
    width: 50%;
}

#location-icon{
    margin-right: 2rem;
    width: 1rem;
    opacity: .9;
}

/* -----Profile Div----- */

.profile-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
}

.profile-info{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: unset;
    display: flex;
    flex-direction: column;
    height: 40rem;
    position: unset;
}

.profile-info-1{
    display: none;
}

.profile-info{
    margin-top: -0.7rem;
}

.image-div{
    background-color: #105a89;
    height: 10rem;
    position: relative;background-image: url('../asset/tech.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cover-photo{
    width: 100%;
    height: 100%;
}

#hr{
    display: none;
}

#hr-1{
    background-color: #ccc;
    width: 100%;
    height: 1px;
    margin-top: 2rem;
}

#hr-m{
    background-color: #ccc;
    width: 100%;
    height: 1px;
    margin-top: 1rem;
}

#profile-image{
    width: 45%;
    border-radius: 50%;
    margin-top: 2px;
    position: absolute;
    top: 60%;
    left: 27%;
    border: 3px white solid;
}

.profile-body{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: unset;
    display: flex;
    margin-left: unset;
}

.navigation{
    margin-top: 10rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation > div > h3{
    margin-left: unset;
}

.navigation > div > ul > li{
    list-style-type: none;
}

.navigation > div > ul > li > a{
    text-decoration: none;
    color: #105a89;
    margin-left: 2rem;
    transition: .4s;
}

.side-nav{
    margin-top: 2rem;
}

.icon{
    width: 1rem;
    margin-left: 20%;
    opacity: .4;
}


/* ----------Profile Nav------------ */

.profile-nav{
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: transparent;
    align-items: center;
    justify-content: flex-end;

}

.profile-nav ul{
    height: 3rem;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    margin-right: .5rem;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 1rem;
}

.profile-nav > ul > li{
    list-style-type: none;
    width: 25%;
    height: 3rem;
    margin-bottom: .3rem;
}

.profile-nav > ul > li > a{
    color: #105a89;
    display: flex;
    height: 3rem;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0rem .2rem .2rem .2rem;
}

.profile-nav > ul > li > a > img{
    margin-bottom: 1rem;
}

.profile-nav-toggle{
    display: none;
}

#stat{
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#stat > div{
    text-align: center;
}

#stat > div > h6{
    color: #363635;
    margin-top: .3rem;
}

/* -------Profiler------ */

.profiler > h3{
    margin-left: unset;
}

.profiler > h5{
    color: #363635;
}

/* ------Form------------- */

.form{
    margin-top: 7rem;
}



/* ---------Ad Div-------- */


.ad-div{
    display: none;
}

.ad-div-clone{
    display: none;
}
}

{% else %}

/* ------------Style for non authenticated user ----------------------*/

@import url(https://fonts.googleapis.com/css2?family=Manrope&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'work sans', sans-serif;
    background-color: #eff3f6;
    width: 100vw;
    overflow-x: hidden;
}

/* -------------Section B----------- */

.section-b{
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 7px 0 #ccc;
    padding: 6rem 5rem;
    border-radius: 1%;
    margin-top: 10rem;
    background-color: #fff;
}

#form-header-text{
    color: #105a89;
    margin-bottom: 2rem;
}

label{
    margin: .4rem;
}

input{
    width: 20rem;
    padding: .5rem 1rem .5rem .5rem;
    border-radius: 5%;
    outline: 0;
    border: 1px #ccc solid;
}

.input-form{
    display: flex;
    flex-direction: column;
    margin: .5rem 0rem;
}

button{
    width: 8rem;
    padding: .5rem 1rem;
    margin: 2rem 0rem 1rem 0rem;
    background-color: white;
    color: #105a89;
    border: #105a89 solid 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: .4s;
    outline: none;
}

button:hover{
    background-color: #105a89;
    color: white;
}

button:focus{
    outline: 0;
}

.button-form{
    display: flex;
    justify-content: center;
}

.sign-in-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-column > div{
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.sign-in-column > div > h4{
    margin-right: 1rem;
    margin-top: .5rem;
}

.sign-in{
    color: #105a89;
    text-decoration: none;
    margin-top: .5rem;
    transition: .3s ease-in;
}

.sign-in:hover{
    color: rgb(136, 46, 46);
    font-weight: bold;
}

@media (max-width: 480px){

    body{
        background-color: white;
    }

    /* -------------Section B----------- */

    .section-b{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: unset;
        padding: 6rem 3rem;
        border-radius: 1%;
        margin-top: 3rem;
        background-color: #fff;
    }

    #form-header-text{
        color: #105a89;
        margin-bottom: 2rem;
    }

    label{
        margin: .4rem;
    }

    input{
        width: 20rem;
        padding: .5rem 1rem .5rem .5rem;
        border-radius: 5%;
        outline: 0;
        border: 1px #ccc solid;
    }

    .input-form{
        display: flex;
        flex-direction: column;
        margin: .5rem 0rem;
    }

    button{
        width: 8rem;
        padding: .5rem 1rem;
        margin: 2rem 0rem;
        background-color: white;
        color: #105a89;
        border: #105a89 solid 1px;
        border-radius: 50px;
        cursor: pointer;
        transition: .4s;
    }

    button:hover{
        background-color: #105a89;
        color: white;
    }

    button:focus{
        outline: 0;
    }

    .button-form{
        display: flex;
        justify-content: center;
    }

    .sign-in-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sign-in{
        color: #105a89;
        text-decoration: none;
        margin-top: .5rem;
        transition: .3s ease-in;
    }

    .sign-in:hover{
        color: rgb(136, 46, 46);
        font-weight: bold;
    }

{% endif %}


{% endblock style %}

{% block content %}

{% if request.user.is_authenticated %}

<section class="section-b">
        <div class="profile">
            <div class="profile-head">
                <div>
                    <div id="name">
                        <h2>Username: </h2>
                        <h5>{{ request.user.username }}</h5>
                    </div>
                </div>
                <div>
                    <div id="bio">
                        <h2>Title:</h2>
                        {% if request.user.profile.title %}
                        <p id="bio-content">{{ request.user.profile.title }}</p>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div id="location">
                        <img src="{% static 'assets/img/map-marker-alt-solid.svg' %}" id="location-icon" alt="icon" />
                        {% if request.user.profile.country %}
                        <h5>{{ request.user.profile.country }}</h5>
                        {% else %}
                        <h5>{{ request.session.django_timezone }}</h5>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div id="stat">
                        <div>
                            <h4>Points</h4>
                            <h6>{{ user_evaluation.points }}</h6>
                        </div>
                        <div>
                            <h4>Level</h4>
                            <h6>{{ user_evaluation.user_level }}</h6>
                        </div>
                        <div>
                            <h4>Experience</h4>
                            <h6>{{ user_evaluation.seniority }}</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-nav">
                <ul>
                    <li>
                        <a href="{% url 'user_profiles:profile' %}" class="profile-nav-toggle"><img src="{% static 'assets/img/poll-h-solid.svg' %}" class ="icon" alt="icon" /><h6>General</h6></a>
                    </li>
                    <li>
                        <a href="{% url 'user_profiles:update-profile' request.user.id %}" class="profile-nav-toggle"><img src="{% static 'assets/img/briefcase-solid.svg' %}" class ="icon" alt="icon" /><h6>Profile Changes</h6></a>
                    </li>
                    <li>
                        <a href="" class="profile-nav-toggle"><img src="{% static 'assets/img/tools-solid.svg' %}" class ="icon" alt="icon" /><h6>Account Settings</h6></a>
                    </li>
                    <li>
                        <a href="{% url 'user_profiles:password_reset' %}" class="profile-nav-toggle"><img src="{% static 'assets/img/tools-solid.svg' %}" class ="icon" alt="icon" /><h6>Edit Password</h6></a>
                    </li>
                    <li>
                        <a href="{% url 'user_profiles:close_account' %}" class="profile-nav-toggle"><img src="{% static 'assets/img/door-closed-solid.svg' %}" class ="icon" alt="icon" /><h6>Close Account</h6></a>
                    </li>
                </ul>
            </div>

            <div class="profile-div">
                <div class="profile-info-1"></div>
                <div class="profile-info">
                    <div class="image-div">
                        <img src="{{ user.profile.image.url }}" id = 'profile-image' alt="profile image" />
                    </div>
                    <div id="hr"></div>
                    <div class="navigation">
                        <div>
                            <h3>Profile Information</h3>
                            <ul>
                                <li class="profiler">
                                    <h3>Firstname</h3>
                                    <h5>{{ request.user.first_name|capfirst }}</h5>
                                </li>
                                <li class="profiler">
                                    <h3>Lastname</h3>
                                    <h5>{{ request.user.last_name|capfirst }}</h5>
                                </li>
                                <li class="profiler">
                                    <h3>Gender</h3>
                                    <h5>{{ request.user.profile.gender }}</h5>
                                </li>
                                <li class="profiler">
                                    <h3>Date Of Birth</h3>
                                    {% if request.user.profile.date_of_birth %}
                                    <h5>{{ request.user.profile.date_of_birth }}</h5>
                                    {% else %}
                                    <h5></h5>
                                    {% endif %}
                                </li>
                                <div id="hr-m"></div>
                                <li class="profiler">
                                    <h3>Membership</h3>
                                    <h5>{{ request.user.account.membership }}</h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>



                <div class="profile-body">

                    <div class="profile-body">
                        <div class="password-edit">

                            <div class="form-div">
                                <form action="" class="form" method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <h3 id="form-header-text">Change password</h3>
                                    </div>
<!--                                    <div class="input-form">-->
<!--                                        <label for="{{ form.old_password.id_for_label }}">Old Password</label>-->
<!--                                        {{ form.old_password }}-->
<!--                                        {{ form.old_password.errors }}-->
<!--                                    </div>-->
                                    <div class="input-form">
                                        <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
                                        {{ form.new_password1 }}
                                        {{ form.new_password1.errors }}
                                    </div>
                                    <div class="input-form">
                                        <label for="{{ form.new_password2.id_for_label }}">Confirm Password:</label>
                                        {{ form.new_password2 }}
                                        {{ form.new_password2.errors }}
                                    </div>
<!--                                    <div class="input-form">-->
<!--                                        {{ form }}-->
<!--                                    </div>-->
                                    <div class="button-form">
                                        <button type="submit" value="reset-password">Confirm</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="ad-div">
                    <h1>Joined date: {{ request.user.profile.reg_date }}</h1>
                </div>


            </div>

        </div>
    </section>

{% else %}

<section class="section-b">
    <div class="form-div">
        <div class="profile-body">

                <div class="profile-body">
                    <div class="password-edit">

                        <div class="form-div">
                            <form action="" class="form" method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <h3 id="form-header-text">Change password</h3>
                                    </div>
<!--                                    <div class="input-form">-->
<!--                                        <label for="{{ form.old_password.id_for_label }}">Old Password</label>-->
<!--                                        {{ form.old_password }}-->
<!--                                        {{ form.old_password.errors }}-->
<!--                                    </div>-->
                                    <div class="input-form">
                                        <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
                                        {{ form.new_password1 }}
                                        {{ form.new_password1.errors }}
                                    </div>
                                    <div class="input-form">
                                        <label for="{{ form.new_password2.id_for_label }}">Confirm Password:</label>
                                        {{ form.new_password2 }}
                                        {{ form.new_password2.errors }}
                                    </div>
<!--                                    <div class="input-form">-->
<!--                                        {{ form }}-->
<!--                                    </div>-->
                                    <div class="button-form">
                                        <button type="submit" value="reset-password">Confirm</button>
                                    </div>
                                </form>
                        </div>

                    </div>
                </div>

            </div>
    </div>
</section>

{% endif %}
{% endblock content %}
