<section>
  <footer>
      <div class="footer-div">
          <div>
              <h5 class="footer-min-h">Language</h5>
              <p class="footer-p"><a href="/">English</a></p>
              <p class="footer-p"><a href="/">French</a></p>
              <p class="footer-p"><a href="/">Dutch</a></p>
          </div>
          <div>
              <h5 class="footer-min-h">Services</h5>
              <p class="footer-p"><a href="/">Forums</a></p>
              <p class="footer-p"><a href="/">Marketplace</a></p>
              <p class="footer-p"><a href="/">Becoming a Vendor</a></p>
          </div>
          <div>
              <h5 class="footer-min-h">Support</h5>
              <p class="footer-p"><a href="/">Account Support</a></p>
              <p class="footer-p"><a href="/">Vendor Support</a></p>
              <p class="footer-p"><a href="/">General Support</a></p>
              <p class="footer-p"><a href="/">Marketplace Support</a></p>
          </div>
          <div>
              <h5 class="footer-min-h">Get to us</h5>
              <p class="footer-p"><a href="/">Email</a></p>
              <p class="footer-p"><a href="/">telephone</a></p>
              <p class="footer-p"><a href="/">address</a></p>
          </div>
      </div>
      <div class="bottom-div">
          <h4>Private Policy</h4>
          <p>Copyright©2020 All rights reserved.</p>
      </div>
  </footer>
</section>
