{% extends 'base.html' %}

{% block title %}General Support{% endblock title %}

{% block style %}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'work sans', sans-serif;
    background-color: #fff;
    width: 100vw;
    overflow-x: hidden;
}

/*--------------Section B------------ */

.section-b{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-b-div{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section-b > div > h1{
    color: #105a89;
    margin-bottom: 1rem;
}

.section-b > div > div > ul >li{
    list-style-type: none;
    margin: .5rem 0;
}

.section-b > div > div > ul > li > a{
    color: #105a89;
}

.section-b > div > div > ul > li > a:hover{
    text-decoration: underline;
}

@media (max-width: 900px){
/*--------------Section B------------ */

.section-b-div{
    text-align: center;
  }
}

@media (max-width: 480px){
   body{
        background-color: white;
    }
}

{% endblock style %}


{% block content %}

<section class="section-b">
    <div class="section-b-div">
        <h1>General Support</h1>
        <div>
            <ul>
                <li><a href="{% url 'support:general-message' %}">Sign in Problems</a></li>
                <li><a href="{% url 'support:general-message' %}">Escrow Service</a></li>
                <li><a href="{% url 'support:general-message' %}">Report a User</a></li>
                <li><a href="{% url 'support:general-message' %}">Security Issues</a></li>
                <li><a href="{% url 'support:general-message' %}">Registration Issues</a></li>
                <li><a href="{% url 'support:general-message' %}">Forum Issues</a></li>
                <li><a href="{% url 'support:general-message' %}">Miscellaneous</a></li>
            </ul>
        </div>
    </div>
</section>

{% endblock content %}
